# Hugo default output directory
/public

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
static/images/post/*.jpg
static/images/post/*.jpeg
static/images/post/*.png
# OSX
.DS_Store